{% load utils %}

{% for post in posts %}
  <article class="post">
    <div class="columns">
      <div class="column is-4-tablet">
        <a class="post-img" href="{{ post.get_absolute_url }}">
          <img src="{% post_image post.image %}">
        </a>
      </div>
      <div class="column is-8-tablet">
        <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
        <p>{{ post.excerpt }}</p>
        <div class="additional_info">
          {% if post.tags.all %}
          <a href="{{ post.tags.all.first.get_absolute_url }}" class="tag is-warning">{{ post.tags.all.first }}</a>
          {% endif %}
          <div class="pub_date">{{ post.published_date | date }}</div>
          <div class="slash">/</div>
          <div class="author">{{ post.author }}</div>
          <div class="slash">/</div>
          <div class="icon"><i class="far fa-clock"></i>{{ post.read_time }}</div>
          {% if post.views %}
          <div class="slash">/</div>
          <div class="icon"><i class="far fa-eye"></i>{{ post.views }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </article>
{% endfor %}

{% include 'includes/pagination.html' %}