{% load i18n admin_urls utils %}

{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% if LANGUAGE_CODE == 'ru' %}
        {% blocktranslate with cl.opts.verbose_name|ru_accusative_case as name %}Add {{ name }}{% endblocktranslate %}
      {% else %}
        {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
      {% endif %}
    </a>
  </li>
  {% endif %}
{% endblock %}