.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
  }

  main {
    margin-top: 3em !important;
    margin-bottom: 1.5em !important;
  }
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }

  main {
    margin-top: 3em !important;
    margin-bottom: 1.5em !important;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }

  main {
    margin-top: 3em !important;
    margin-bottom: 1.5em !important;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }

  main {
    margin-top: 3em !important;
    margin-bottom: 1.5em !important;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100% !important;
  }
}