.header {
  box-shadow:  0 1px 5px #888;

  .navbar {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #0091e5 0px, #00b7e5 100%) repeat scroll 0 0 !important;

    .navbar-brand {
      padding: 10px;
      // Logo
      .logo {
        color: #fff;
        background: url('../images/logo.png');
        width: 200px;
        div {
          margin: 20px auto 0 auto;
          font-size: 11px;
          font-weight: 700;
        }
      }
      // Burger
      .navbar-burger:hover {
        background-color: transparent;
      }
    }

    // Menu
    .navbar-menu {
      background-color: transparent;
      padding: 10px;
      box-shadow: none !important;

      a {
        color: #fff;
        font-size: 0.74em;
        font-weight: 500;
        text-transform: uppercase;
        background-color: transparent;
  
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .header .navbar-menu {
    margin-left: 15px;
  }
}

@media screen and (max-width: 992px) {
  .header .navbar-menu {
    margin-left: 10px;
  }
}