{% load static i18n utils %}

<div>
  <div class="widget">
    <h4>{% translate 'recent_posts' %}</h4>
    {% for post in recent_posts %}
    <a href="{{ post.get_absolute_url }}" class="post">
      <img src="{% post_image post.image %}">
      <div>
        <h5 class="is-hidden-touch">{{ post.title | truncatewords:5 }}</h5>
        <h5 class="is-hidden-desktop">{{ post.title }}</h5>
        <small>{{ post.published_date | date }}</small>
      </div>
    </a>
    {% endfor %}
  </div>

  <div class="widget">
    <h4>{% filter title %}{% translate 'tags' %}{% endfilter %}</h4>
    {% for tag in all_tags %}
    <a href="{{ tag.get_absolute_url }}" class="tag">{{ tag.name }}</a>
    {% endfor %}
  </div>
</div>