{% load static i18n %}

<div>
  <div class="widget">
    <h4>{% translate 'recent_posts' %}</h4>
    <a href="#" class="post">
      <figure class="image">
        <img src="https://hsto.org/getpro/habr/post_images/1d5/28e/2cb/1d528e2cb5fbc29ad16c74e5d883c371.png">
      </figure>
      <div>
        <h5 href="#">Top 10 phone application...</h5>
        <small>12 Jan, 2016</small>
      </div>
    </a>
    <a href="#" class="post">
      <figure class="image">
        <img src="{% static '/images/post.png' %}">
      </figure>
      <div>
        <h5 href="#">Top 10 phone application...</h5>
        <small>12 Jan, 2016</small>
      </div>
    </a>
    <a href="#" class="post">
      <figure class="image">
        <img src="{% static '/images/post.png' %}">
      </figure>
      <div>
        <h5 href="#">Top 10 phone application...</h5>
        <small>12 Jan, 2016</small>
      </div>
    </a>
  </div>
</div>